
<a href="/download-pdf/<%= student._id %>" >
  Download as PDF
</a>
<body>

    <div >
      
      <div >
          <h1>RAJKIYA ENGINEERING COLLEGE KANNAUJ</h1>
          <h1>UTTAR PRADESH</h1>
          <h3>(A GOVERNMENT ENGINEERING COLLEGE)</h3>
      </div>
    </div>
  <div >
      <h1>NO DUES CERTIFICATE</h1>
  </div>
  
   <div >
    <div >
      <div >
        <p><b>Reg.No:</b> <%= student.regNo %></p>
      </div>
      <div >
        <p><b>Year of Admission:</b> <%= student.yearOfAdmission %></p>
      </div>
    </div>   
    <div >
      <div >
        <p><b>Course Status:</b> <%= student.courseStatus %></p>
      </div>
    </div>   
    <div >
      <div >
        <p><b>Student Name:</b> <%= student.studentName %></p>
      </div>
      <div >
        <p><b>Roll No.:</b> <%= student.rollNo %></p>
      </div>
      <div >
        <p><b>Branch:</b> <%= student.branch %></p>
      </div>
    </div>
  </div>
   
    
  
  <div >
      <p><b>Note :</b> Students are required to submit "NO Dues Certificate" to the Dean Office.</p>
  </div>

<div >
  <h1>DECLARATION BY THE STUDENT</h1>
</div>
<div>
  <div >
    <p>I,..................................... heredy declare that to the best of my knowledge and belief 
      there are no dues payable by me to tne Institute. Should there be any, found on later date, I agree to
      pay the dues.
   </p>
  </div>
  
  <div >
    <div >
      <div >
        <p><B>Date :</B></p>
      </div>
      <div >
        <p><b>Signature______________</b></p>
      </div>
    </div>
    <div >
      <P><b>Permanent Address-</b><br>
        ................................................................................................................................................................................................................
        ................................................................................................................................................................................................................
      </P>
    </div>
    <div >
      <div >
        <p><b>Personal Email ID :</b>.......................................................................</p>
      </div>
      <div >
        <p><b>Mobile No :</b>...............................................................................</p>
      </div>
    </div>
    <div >
      <P><b>Details of Placement/Higher Studies/others</b>.....................................................................................................................</P>
    </div>
  </div>
</div>
  </body>